tr:nth-child(odd)
{
    background-color: #a4afd7;
    height: 25px;
}
tr:nth-child(even)
{
    background-color: #e9ebf5;
    height: 25px;
}
th
{
    background-color: rgb(24, 57, 114);
    color: white;
}
caption
{
    background-color: rgb(24, 57, 114);
    color: white;
}